{
  "name": "form",
  "displayName": "表单",
  "description": "SiteServer CMS 表单插件是简单高效的电子表单工具,为你提供表单的创建,发布,管理,收集及客户管理服务,让您轻松快捷的制作表单",
  "version": "1.0.0",
  "publisher": "ss",
  "icon": "logo.svg",
  "executeFileName": "bin/SS.Form.dll",
  "includes": [
    "bin/SS.Form.dll",
    "build/",
    "css/",
    "js/",
    "plugin .json"
  ]
}