<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>SiteServer 管理后台</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="../assets/images/favicon.png" rel="icon" type="image/png">
  <link href="../assets/css/font-awesome-4.7.0.min.css" rel="stylesheet" type="text/css" />
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="../assets/css/siteserver.min.css" rel="stylesheet" type="text/css" />
  <style>
    .nav .nav-link {
    font-weight: normal;
    border-radius: 1.25rem;
    font-size: 14px;
    }
  </style>
</head>

<body class="p-0">

  <div id="main" class="m-t-15 m-b-15 m-l-15 m-r-15">

    <template v-if="pageLoad">

      <div class="card-box" style="padding: 10px; margin-bottom: 10px">
        <ul class="nav nav-pills nav-justified">

          <li class="nav-item">
            <a class="nav-link active" href="javascript:;" @click="{btnNavClick('logs.html')}">数据列表</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" @click="{btnNavClick('fields.html')}">字段管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" @click="{btnNavClick('settings.html')}">选项设置</a>
          </li>
          <li class="nav-item" v-if="config.returnUrl">
            <a class="nav-link" :href="config.returnUrl">返回列表</a>
          </li>

        </ul>
      </div>

      <div v-if="pageAlert" class="alert" v-bind:class="{ 'alert-warning': pageAlert.type === 'warning', 'alert-success': pageAlert.type === 'success', 'alert-danger': pageAlert.type === 'danger' }">
        <button v-on:click="pageAlert = null" class="close" data-dismiss="alert">×</button>
        <span v-html="pageAlert.html"></span>
      </div>

      <div class="card-box">

        <form v-on:submit="btnSubmitClick">

          <div class="row">
            <div class="col-md-12">
              <h4 v-if="config.logId" class="m-t-0 m-b-30 header-title">修改</h4>
              <h4 v-else class="m-t-0 m-b-30 header-title">新增</h4>

              <div v-for="fieldInfo in fieldInfoList" class="form-group">
                <div class="mb-1">
                  <label>
                    {{ fieldInfo.title }}
                    <span v-if="fieldInfo.validate.indexOf('required') !== -1" class="text-danger">*</span>
                    <small v-show="errors.has(fieldInfo.title)" class="text-danger">{{
                      errors.first(fieldInfo.title) }}</small>
                  </label>

                  <div class="float-right btn-group btn-group-sm">

                    <template v-if="fieldInfo.fieldType === 'Image'">
                      <a v-on:click="btnLayerClick({ title: '上传图片', name: 'Image', full: true, args: {title: fieldInfo.title, fieldType: fieldInfo.fieldType} })"
                        href="javascritp:;" class="btn btn-outline-primary">上传</a>
                      <a href="javascript:;" v-if="fieldInfo.value" v-on:click="btnImageClick(fieldInfo.value)" class="btn btn-outline-primary">预览</a>
                    </template>

                    <template v-else-if="fieldInfo.fieldType === 'TextEditor'">
                      <a v-on:click="btnLayerClick({ title: '插入图片', name: 'Image', full: true, args: {title: fieldInfo.title, fieldType: fieldInfo.fieldType} })"
                        href="javascritp:;" class="btn btn-outline-primary">插入图片</a>
                    </template>

                  </div>

                </div>

                <div>
                  <template v-if="fieldInfo.fieldType === 'Text'">
                    <input v-model="fieldInfo.value" type="text" class="form-control" :name="fieldInfo.title"
                      :data-vv-as="fieldInfo.displayName" v-validate="fieldInfo.validate" :class="{'is-invalid': errors.has(fieldInfo.title)}">
                  </template>
                  <template v-else-if="fieldInfo.fieldType === 'TextArea'">
                    <textarea v-model="fieldInfo.value" class="form-control" :style="'height: ' + (fieldInfo.additional.height ? fieldInfo.additional.height : 125) + 'px;'"
                      :name="fieldInfo.title" :data-vv-as="fieldInfo.displayName" v-validate="fieldInfo.validate"
                      :class="{'is-invalid': errors.has(fieldInfo.title)}"></textarea>
                  </template>
                  <template v-else-if="fieldInfo.fieldType === 'TextEditor'">
                    <textarea v-model="fieldInfo.value" :id="fieldInfo.title" :name="fieldInfo.title" :data-vv-as="fieldInfo.displayName"
                      v-validate="fieldInfo.validate" fieldInfo="display:none"></textarea>
                  </template>
                  <template v-else-if="fieldInfo.fieldType === 'Radio'">
                    <div class="m-2">
                      <div v-for="(fieldInfoItem, index) in fieldInfo.fieldInfoItems" class="radio radio-primary form-check-inline">
                        <input v-model="fieldInfo.value" type="radio" :id="fieldInfoItem.itemValue" :value="fieldInfoItem.itemValue"
                          :name="fieldInfo.title">
                        <label :for="fieldInfoItem.itemValue"> {{ fieldInfoItem.itemTitle }} </label>
                      </div>
                    </div>
                  </template>
                  <template v-else>
                    <input v-model="fieldInfo.value" type="text" class="form-control" :name="fieldInfo.title"
                      :data-vv-as="fieldInfo.displayName" v-validate="fieldInfo.validate" :class="{'is-invalid': errors.has(fieldInfo.title)}">
                  </template>
                </div>

              </div>

            </div>

          </div>

          <hr />

          <div class="text-center">
            <button type="button" @click="btnSubmitClick" class="btn btn-primary w-md mr-2">保 存</button>
            <button type="button" @click="btnNavClick('logs.html')" class="btn btn-default w-md">返 回</button>
          </div>

        </form>

      </div>

    </template>
    <template v-else>
      <div class="text-center" style="margin-top: 100px">
        <img class="mt-3" src="../assets/images/loading.gif" />
        <p class="lead mt-3 text-nowrap">载入中，请稍后...</p>
      </div>
    </template>

  </div>

</body>

</html>

<script src="../assets/lib/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="../assets/lib/popper.min.js"></script>
<script src="../assets/lib/bootstrap.min.js"></script>
<script src="../assets/lib/lodash-4.17.10.min.js" type="text/javascript"></script>
<script src="../assets/lib/layer-3.1.1/layer.js" type="text/javascript"></script>
<script src="../assets/lib/sweetalert2-7.28.4.all.min.js" type="text/javascript"></script>
<script src="../assets/lib/vue-2.5.16.min.js" type="text/javascript"></script>
<script src="../assets/lib/vee-validate-2.1.0.js"></script>
<script src="../assets/lib/vee-validate-locale-zh_CN-2.1.0.js"></script>
<script src="../assets/lib/js.cookie-2.2.0.js"></script>
<script src="../assets/js/utils.js" type="text/javascript"></script>

<script src="../assets/lib/vue2-datepicker-2.4.3.min.js"></script>
<script src="logAdd.js" type="text/javascript"></script>