<div id="stl_form_2">

	<link rel="stylesheet" type="text/css" href="style.css" />

	<!-- template start -->
	<div class="ss_form_wrapper">
		<div class="ss_form_main">
			<h1 class="ss_form_head_title">
				{{ title }}
			</h1>
			<div class="ss_form_head_desc">
				{{ description }}
			</div>
			<div class="ss_form_bg"></div>

			<div v-show="isEnabled && !isSuccess" style="display: none">
				<ul class="ss_form_ul">

					<li v-for="schema in schemas">

						<div class="ss_form_title">
							{{ schema.title }}
							<div v-if="schema.description">{{ schema.description }}</div>
							<i v-if="schema.isRequired">*</i>
							<div class="error" v-show="errors.has(schema.attributeName)">请填写此项</div>
						</div>

						<div v-if="schema.fieldType === 'TextArea'" class="ss_form_body">
							<textarea v-bind:name="schema.attributeName" v-model="attributes[schema.attributeName]" :class="{'error': errors.has(schema.attributeName) }"
							  v-validate="{ required: schema.isRequired }"></textarea>
						</div>
						<div v-else-if="schema.fieldType === 'CheckBox'" class="ss_form_body">
							<div v-for="item in schema.items">
								<input type="checkbox" v-bind:id="schema.attributeName + '_' + item.id" v-bind:name="schema.attributeName" v-bind:value="item.value"
								  v-model="attributes[schema.attributeName]">
								<label v-bind:for="schema.attributeName + '_' + item.id">{{ item.value }}</label>
								<input v-if="item.isExtra" type="text" value="" v-bind:name="schema.attributeName + '_' + item.id" v-model="attributes[schema.attributeName + '_' + item.id]"
								  style="width: 300px;margin-left: 10px;">
								<br />
							</div>
						</div>
						<div v-else-if="schema.fieldType === 'Radio'" class="ss_form_body">
							<div v-for="item in schema.items">
								<input type="radio" v-bind:id="schema.attributeName + '_' + item.id" v-bind:name="schema.attributeName" v-bind:value="item.value"
								  v-model="attributes[schema.attributeName]">
								<label v-bind:for="schema.attributeName + '_' + item.id">{{ item.value }}</label>
								<input v-if="item.isExtra" type="text" value="" v-bind:name="schema.attributeName + '_' + item.id" v-model="attributes[schema.attributeName + '_' + item.id]"
								  style="width: 300px;margin-left: 10px;">
								<br />
							</div>
						</div>
						<div v-else-if="schema.fieldType === 'SelectOne'" class="ss_form_body">
							<select v-bind:name="schema.attributeName" v-model="attributes[schema.attributeName]" :class="{'error': errors.has(schema.attributeName) }"
							  v-validate="{ required: schema.isRequired }">
								<option v-for="item in schema.items" v-bind:value="item.value">{{ item.value }}</option>
							</select>
						</div>
						<div v-else-if="schema.fieldType === 'SelectMultiple'" class="ss_form_body">
							<select multiple style="height: 130px" v-bind:name="schema.attributeName" v-model="attributes[schema.attributeName]" :class="{'error': errors.has(schema.attributeName) }"
							  v-validate="{ required: schema.isRequired }">
								<option v-for="item in schema.items" v-bind:value="item.value">{{ item.value }}</option>
							</select>
						</div>
						<div v-else="schema.fieldType === 'Text'" class="ss_form_body">
							<input type="text" value="" v-bind:name="schema.attributeName" v-model="attributes[schema.attributeName]" :class="{'error': errors.has(schema.attributeName) }"
							  v-validate="{ required: schema.isRequired }" />
						</div>

					</li>

				</ul>

				<div v-show="errorMessage" style="display: none" class="ss_form_failure" v-html="errorMessage"></div>

				<div v-if="isCaptcha" class="ss_form_code">
					<input type="text" v-model="code" />
					<img :src="imgUrl" class="ss_form_code_img" @click="reload" style="width: 105px; height: 35px" />
					<span>请输入验证码</span>
				</div>
				<a @click="submit" href="javascript:;" class="ss_form_btn">提 交</a>

			</div>

			<div v-show="isEnabled && isSuccess" style="display: none" class="ss_form_success">表单提交成功</div>

			<div v-show="!isEnabled" style="display: none" class="ss_form_failure">对不起，表单只允许在规定的时间范围内访问，当前时间已超出范围</div>

		</div>
	</div>

	<!-- template end -->

</div>

<script src="../../assets/js/vue-2.1.10.min.js" type="text/javascript"></script>
<script src="../../assets/js/vee-validate.js" type="text/javascript"></script>
<script src="../../assets/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
	Vue.use(VeeValidate);
	new Vue({
		el: '#stl_form_2',
		data: {
			isTimeout: false,
			timeToStart: new Date('1754-01-01 00:00'),
			timeToEnd: new Date('1754-01-01 00:00'),
			attributes: {
				attr_1: '',
				attr_2: [],
				attr_3: '',
			},
			code: '',
			imgUrl: '/api/plugins/SS.Form/Captcha/2?' + new Date().getTime(),
			isSuccess: false,
			errorMessage: '',
			schemas: [{
				"attributeName": "attr_1",
				"title": "姓名",
				"description": "描述",
				"fieldType": "Text",
				"isRequired": true,
				"items": []
			}, {
				"attributeName": "attr_2",
				"title": "邮箱地址",
				"description": "描述",
				"fieldType": "CheckBox",
				"isRequired": true,
				"items": [{
					"id": 1,
					"formId": 2,
					"fieldId": 2,
					"value": "选项1",
					"isSelected": false,
					"isExtras": false
				}, {
					"id": 2,
					"formId": 2,
					"fieldId": 2,
					"value": "选项2",
					"isSelected": false,
					"isExtras": false
				}]
			}, {
				"attributeName": "attr_3",
				"title": "请输入消息",
				"description": "",
				"fieldType": "TextArea",
				"isRequired": true,
				"items": []
			}]
		},
		methods: {
			reload: function (event) {
				this.imgUrl = '/api/plugins/SS.Form/Captcha/2?' + new Date().getTime();
			},

			submit: function (event) {
				this.errorMessage = '';
				var $this = this;
				var data = {
					code: this.code,
					attributes: this.attributes
				};

				this.$validator.validateAll().then(function (result) {
					if (result) {
						$.ajax({
							url: "/api/plugins/SS.Form/Submit/2",
							type: "POST",
							data: JSON.stringify(data),
							contentType: "application/json; charset=utf-8",
							dataType: "json",
							success: function (data) {
								$this.isSuccess = true;
							},
							error: function (err) {
								var err = JSON.parse(err.responseText);
								$this.isSuccess = false;
								$this.errorMessage = err.message;
							}
						});
					}
				});
			}
		}
	});
</script>